@font-face {
  font-family: 'Arcade';
  src: url('fonte/Arcade.eot');
  src: url('fonte/arcade?#iefix') format('embedded-opentype'),
  url('fonte/arcade.svg#Locaweb-Icons') format('svg'),
  url('fonte/arcade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body
{
    overflow-x: hidden;
}
button:focus
{
    outline: none;
}
button
{
    cursor: pointer;
}
.content
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6e6e6;
    position: fixed;
}
.BeemoBody
{
    width: 400px;
    height: 650px;
}
.BeemoFrente
{
    background: #25ad9f;
    border: 1.5px solid #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.BeemoFace
{
    background-color: #b9dfca;
    width: 10em;
    height: 14em;
    align-self: center;
    margin-top: 3em;
    border-radius: 41px;
    border: 4px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0em 5em;
    position: relative;
    transition: .3s ease-out;
    overflow: hidden;
}
.BeemoFaceDigitando
{
    background-color: #1d3934;
}
.BeemoOlhos
{
    width: 1em;
    height: 1em;
    background-color: #000;
    border-radius: 100%;
    margin-top: 5em;
}
.BeemoBoca
{
    position: absolute;
    width: 9em;
    height: 6em;
    bottom: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    left: 27.5%;
}
.BeemoLabioSuperior
{
    width: 86%;
    height: 6em;
    background: #b9dfca;
    position: absolute;
    /*top: -61%;*/
    top:-51%;
    transition: .5s ease-out;
}
.BeemoLabioInferior
{
    width: 80%;
    height: 5em;
    background: transparent;
    border-radius: 55%;
    margin-bottom: 5em;
    border-bottom: 3px solid;
}
.BeemoDiscoContainer
{
    margin-top: 2.2em;
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
}
.BeemoDisco
{
    height: 1.2em;
    width: 49%;
    background-color: #005037;
    margin-left: 3em;
    border: 2px solid #000;
}
.BeemoBotaoDisco
{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: #00477d;
    margin-left: 5em;
    transition: .3s ease-out;
}
.BeemoSetas
{
    width: 6.3em;
    height: 6.3em;
    margin-left: 3em;
    margin-top: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setas
{
    width: 2em;
    height: 2em;
    position: absolute;
    background-color: #fdd050;
    cursor: pointer;
}
.setaCima
{
    top: 1%;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.setaBaixo
{
    bottom: .5%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.setaEsquerda
{
    left: 0%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}
.setaDireita
{
    right: .5%;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.setaCentro
{
    width: 2em;
    height: 2em;
    background-color: #fdd050;
}
.BeemoPlugs
{
    display: flex;
    justify-content: space-between;
    width: 7em;
    margin-top: 3.5em;
    margin-left: 3em;
}
.BeemoPlug
{
    width: 2.5em;
    height: .5em;
    background-color: #00477b;
    border: 2px solid #000;
    border-radius: 10px;
}
.BeemoBotoes
{
    width: 10em;
    height: 13em;
    align-self: flex-end;
    margin-top: -11em;
    margin-right: 3em;
    position: relative;
}
.botaoVermelho
{
    width: 5.5em;
    height: 5.5em;
    background-color: #ec3b45;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    bottom: 0%;
    right: 0%;

}
.botaoVerde
{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: #6ebb64;
    position: absolute;
    right: -10%;
    top: 41%;
}
.botaoAzul {
    border: 3px solid #000;
    border-top: 0px transparent solid;
    border-right: 31px transparent solid;
    border-left: 31px transparent solid;
    border-bottom: 65px #44c2df solid;
    width: 0px;
    height: 0px;
    margin-top: 2.5em;
    margin-left: 3em;
    cursor: pointer;
}
.bordaBotaoTriangulo
{
    width: 3px;
    height: 4em;
    background-color: #000;
    position: absolute;
}
.bordaEsquerda
{
    top: 20%;
    left: 39%;
    transform: skewX(-26deg);
}
.bordaDireita
{
    top: 20%;
    left: 58%;
    transform: skewX(26deg);
}
.bordaBaixo
{
    width: 4.07em;
    height: 3px;
    left: 29.06%;
}
.texto
{
    position: absolute;
    width: 86%;
    height: auto;
    display: flex;
    border-radius: 41px;
    left: 0%;
    padding: 1.5em;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 1s ease-out;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 2.3em;
    top: 0%;
}
.textoAlinhado
{
    justify-content: center;
    height: 73%;
}
.texto p, .texto h1
{

    font-family: 'Arcade';
/*    color: #17f588;
*/    height: auto;
    display: flex;
    align-items: center;
    padding: .2em 0em;
    width: 107.3%;
    margin-left: -1.5em;
    padding-left: 1.5em;
    margin-bottom: .1em;
    line-height: 1.3em;

}
.mensagemEnviada
{
    color: #1d3934;
    background-color: #17f588;
}
@keyframes quicaBotao
{
    0%
    {
        bottom: 6.7%;
    }
    50%
    {
        bottom:9.7%;
    }
    100%
    {
        bottom:6.7%;
    }

}

.buttonChat, .buttonChat div {
  /* See it in slo-mo, you can change this */
  transition-duration: .6s;
}

.buttonChat, .button { transition-timing-function: ease; }

.buttonChat {
  display: inline-block;
  height: 2.5rem;
  background: #A9ADB6;
  border-radius: .25rem;
  perspective: 300;
  box-shadow: 0 -1px 2px #fff, inset 0 1px 2px rgba(0,0,0,.2), inset 0 .25rem 1rem rgba(0,0,0,.1);
  position: absolute;
  right: 2%;
  bottom: 6.7%;
  display: none;
}


.button { opacity: 0; }

.cover {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  transform-origin: center bottom;
  transform-style: preserve-3d;
  font: 1.25em/2 "icon";
  color: white;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}

.innie, .outie, .spine, .shadow { position: absolute; width: 100%; }

.innie, .outie {
  height: 100%;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0,0,0,.1) 100%);
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innie {
  background-color: #25ad9f;
  text-shadow: 0 -2px 4px rgba(0,0,0,.2);
}

.spine {
  top: .25rem;
  background: #25ad9f;
  height: .25rem;
  transform: rotateX(90deg);
  transform-origin: center top;
}

.shadow {
  top: 100%;
  left: 0;
  height: 3.5rem;
  transform-origin: center top;
  transform: rotateX(90deg);
  opacity: 0;
  z-index: 0;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, transparent 100%);
  background-image: linear-gradient(to bottom, rgba(0,0,0,.6) 0%, transparent 100%);
  border-radius: .4rem;
  cursor: pointer;

}

.outie {
  background-color: #25ad9f;
  transform: translateZ(.25rem);
  text-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.buttonChat:hover { background: #EBEFF2; }
.buttonChat:hover .button { opacity: 1; }

.buttonChat:hover .cover, .buttonChat:hover .innie, .buttonChat:hover .spine, .buttonChat:hover .outie, .buttonChat:hover .spine { transition-timing-function: cubic-bezier(.2,.7,.1,1.1); }

.buttonChat:hover .cover { transform: rotateX(-145deg);  }

.buttonChat:hover .innie { background-color: #25ad9f; }
.buttonChat:hover .spine { background-color: #25ad9f; }
.buttonChat:hover .outie { background-color: #25ad9f; color: rgba(255,255,255,0); }

.buttonChat:hover .shadow { 
  opacity: 1;
  transform: rotateX(45deg) scale(.95);
}


small {
  font: .8rem/1 sans-serif;
  padding-top: 4rem;
  color: #777;
}
small a { color: #222; text-decoration: none; border-bottom: thin solid #ccc; }
small a:hover { border-bottom-color: #222; }


.TextoButtonChat
{
    color: #44c2df;
    text-decoration: none;
}
.InputTexto
{
    width: 88%;
    height: 2.8em;
    border: none;
    background: transparent;
    padding-left: 1.4em;
}
.InputTexto:focus
{
    outline: none;
}
.buttonTexto
{
    width: 100%;
    height: 100%;
}
.enviaMensagemIcon
{
    transform: rotate(90deg);
    width: 1.7em;
    height: 7.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

::-webkit-scrollbar 
{
  width: 8px;
}

::-webkit-scrollbar-track 
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
  height: 1em;
}

::-webkit-scrollbar-thumb 
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background: #6ebb64 ;

}
.mensagemDoBeemo
{
  color:#17f588;
}
.mensagemDesativada
{
  color: #17f588 !important;
  background: transparent !important;
}