@font-face {
  font-family: 'Arcade';
  src: url('fonte/Arcade.eot');
  src: url('fonte/arcade?#iefix') format('embedded-opentype'),
  url('fonte/arcade.svg#Locaweb-Icons') format('svg'),
  url('fonte/arcade.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body
{
	overflow-x: hidden;
}
button:focus
{
    outline: none;
}
button
{
    cursor: pointer;
}
.content
{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #e6e6e6;
	position: fixed;
}
.BeemoBody
{
	width: 400px;
	height: 650px;
}
.BeemoFrente
{
    background: #25ad9f;
    border: 1.5px solid #000;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.BeemoFace
{
    background-color: #b9dfca;
    width: 10em;
    height: 14em;
    align-self: center;
    margin-top: 3em;
    border-radius: 41px;
    border: 4px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0em 5em;
    position: relative;
    transition: .3s ease-out;
}
.BeemoFaceDigitando
{
    background-color: #1d3934;
}
.BeemoOlhos
{
    width: 1em;
    height: 1em;
    background-color: #000;
    border-radius: 100%;
    margin-top: 5em;
}
.BeemoBoca
{
    position: absolute;
    width: 9em;
    height: 6em;
    bottom: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    left: 27.5%;
}
.BeemoLabioSuperior
{
    width: 86%;
    height: 6em;
    background: #b9dfca;
    position: absolute;
    /*top: -61%;*/
    top:-51%;
    transition: .5s ease-out;
}
.BeemoLabioInferior
{
    width: 80%;
    height: 5em;
    background: transparent;
    border-radius: 55%;
    margin-bottom: 5em;
    border-bottom: 3px solid;
}
.BeemoDiscoContainer
{
    margin-top: 2.2em;
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
}
.BeemoDisco
{
    height: 1.2em;
    width: 49%;
    background-color: #005037;
    margin-left: 3em;
    border: 2px solid #000;
}
.BeemoBotaoDisco
{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: #00477d;
    margin-left: 5em;
    transition: .3s ease-out;
}
.BeemoSetas
{
    width: 6.3em;
    height: 6.3em;
    margin-left: 3em;
    margin-top: 4em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.setas
{
    width: 2em;
    height: 2em;
    position: absolute;
    background-color: #fdd050;
    cursor: pointer;
}
.setaCima
{
    top: 1%;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.setaBaixo
{
    bottom: .5%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}
.setaEsquerda
{
    left: 0%;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
}
.setaDireita
{
    right: .5%;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}
.setaCentro
{
    width: 2em;
    height: 2em;
    background-color: #fdd050;
}
.BeemoPlugs
{
    display: flex;
    justify-content: space-between;
    width: 7em;
    margin-top: 3.5em;
    margin-left: 3em;
}
.BeemoPlug
{
    width: 2.5em;
    height: .5em;
    background-color: #00477b;
    border: 2px solid #000;
    border-radius: 10px;
}
.BeemoBotoes
{
    width: 10em;
    height: 13em;
    align-self: flex-end;
    margin-top: -11em;
    margin-right: 3em;
    position: relative;
}
.botaoVermelho
{
    width: 5.5em;
    height: 5.5em;
    background-color: #ec3b45;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    bottom: 0%;
    right: 0%;

}
.botaoVerde
{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: #6ebb64;
    position: absolute;
    right: -10%;
    top: 41%;
}
.botaoAzul {
    border: 3px solid #000;
    border-top: 0px transparent solid;
    border-right: 31px transparent solid;
    border-left: 31px transparent solid;
    border-bottom: 65px #44c2df solid;
    width: 0px;
    height: 0px;
    margin-top: 2.5em;
    margin-left: 3em;
    cursor: pointer;
}
.bordaBotaoTriangulo
{
    width: 3px;
    height: 4em;
    background-color: #000;
    position: absolute;
}
.bordaEsquerda
{
    top: 20%;
    left: 39%;
    transform: skewX(-26deg);
}
.bordaDireita
{
    top: 20%;
    left: 58%;
    transform: skewX(26deg);
}
.bordaBaixo
{
    width: 4.07em;
    height: 3px;
    left: 29.06%;
}
.texto
{
    font-family: 'Arcade';
    color: #17f588;
    position: absolute;
    width: 86%;
    height: 78%;
    display: flex;
    border-radius: 41px;
    left: 0%;
    padding: 1.5em;
    overflow-x: hidden;
    overflow-y: auto;
}
.textoAlinhado
{
    align-items: center;
    justify-content: center;
}
.faleForm
{
    width: 21em;
    height: 18em;
    position: fixed;
    right: 0%;
    bottom: 0%;
    display: none;
    transition: 1s ease-out;
}
.botaoAbreForm
{
    background: #44c2df;
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: 3.5%;
    right: 2%;
    border-radius: 3%;
    border: 1px solid #000;
    cursor: pointer;
    transition: 1s ease-out;
    display: none;
}
.faleForm input
{
    border-radius: 8px;
    border: 1px solid;
    height: 2em;
    width: 13.8em;
    padding-left: 1em;
    margin-bottom: 2.3em;
    bottom: 0%;
    position: absolute;
    padding-right: 3.2em;
}
.faleForm input:focus
{
    outline: none;
}
.faleForm span
{
    position: absolute;
    bottom: 0%;
    margin-bottom: 2em;
    height: 1.8em;
    right: 29%;
    background: none;
    border: none;
    cursor: pointer;
    border-left: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0em .4em;

}

@keyframes quicaBotao
{
    0%
    {
        bottom: 3.5%;
    }
    50%
    {
        bottom:8.5%;
    }
    100%
    {
        bottom:3.5%;
    }
}